In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
root_path = "\\".join(os.getcwd().split("\\")[:-1])
cur_path = os.path.join(root_path, 'notebooks')

In [4]:
train_data = pd.read_csv(os.path.join(root_path, 'train_data.csv'), 
                         usecols=['transcription', 'action', 'object', 'location'])
val_data = pd.read_csv(os.path.join(root_path, 'valid_data.csv'),
                      usecols=['transcription', 'action', 'object', 'location'])

In [5]:
train_data.columns, val_data.columns

(Index(['transcription', 'action', 'object', 'location'], dtype='object'),
 Index(['transcription', 'action', 'object', 'location'], dtype='object'))

In [6]:
train_data.info(), val_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11566 entries, 0 to 11565
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   transcription  11566 non-null  object
 1   action         11566 non-null  object
 2   object         11566 non-null  object
 3   location       11566 non-null  object
dtypes: object(4)
memory usage: 361.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3118 entries, 0 to 3117
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   transcription  3118 non-null   object
 1   action         3118 non-null   object
 2   object         3118 non-null   object
 3   location       3118 non-null   object
dtypes: object(4)
memory usage: 97.6+ KB

(None, None)

In [7]:
train_data.describe()

                           transcription    action object location
count                              11566     11566  11566    11566
unique                               248         6     14        4
top     Turn up the bathroom temperature  increase   heat     none
freq                                  61      2961   3629     7150

In [8]:
val_data.describe()

                transcription    action object location
count                    3118      3118   3118     3118
unique                    248         6     14        4
top     Switch off the lights  increase   heat     none
freq                       17       822    986     1877

In [15]:
print(max([len(i.split()) for i in train_data['transcription'].tolist()]))
print(min([len(i.split()) for i in train_data['transcription'].tolist()]))

print(max([len(i.split()) for i in val_data['transcription'].tolist()]))
print(min([len(i.split()) for i in val_data['transcription'].tolist()]))

10
1
10
1

In [68]:
train_data.groupby('action')['action'].count()

action
activate           1901
bring              1048
change language    1267
deactivate         1537
decrease           2852
increase           2961
Name: action, dtype: int64

In [69]:
train_data.groupby('object')['object'].count()

object
Chinese       229
English       196
German        161
Korean        169
heat         3629
juice         243
lamp          395
lights       2363
music         680
newspaper     274
none          512
shoes         266
socks         265
volume       2184
Name: object, dtype: int64

In [70]:
train_data.groupby('location')['location'].count()

location
bedroom     1185
kitchen     1273
none        7150
washroom    1958
Name: location, dtype: int64

In [71]:
val_data.groupby('action')['action'].count()

action
activate           562
bring              234
change language    292
deactivate         439
decrease           769
increase           822
Name: action, dtype: int64

In [72]:
val_data.groupby('object')['object'].count()

object
Chinese       52
English       40
German        40
Korean        41
heat         986
juice         52
lamp         118
lights       698
music        185
newspaper     63
none         119
shoes         60
socks         59
volume       605
Name: object, dtype: int64

In [73]:
train_data

,transcription,action,object,location
0,Turn on the kitchen lights,activate,lights,kitchen
1,Turn up the temperature,increase,heat,none
2,OK now switch the main language to Chinese,change language,Chinese,none
3,Turn down the bathroom temperature,decrease,heat,washroom
4,Change the language,change language,none,none
...,...,...,...,...
11561,Kitchen heat up,increase,heat,kitchen
11562,Turn the temperature up,increase,heat,none
11563,Bring shoes,bring,shoes,none
11564,Volume mute,decrease,volume,none
11565,Turn off the kitchen lights,deactivate,lights,kitchen

In [74]:
# unique words persent in transcription
len(set(" ".join(train_data['transcription'].values.tolist()).lower().split()))

106

In [85]:
train_data['lab_act'] = pd.Categorical(train_data['action']).codes
val_data['lab_act'] = pd.Categorical(val_data['action']).codes

In [86]:
train_data['lab_obj'] = pd.Categorical(train_data['object']).codes
val_data['lab_obj'] = pd.Categorical(val_data['object']).codes

In [87]:
train_data['lab_loc'] = pd.Categorical(train_data['location']).codes
val_data['lab_loc'] = pd.Categorical(val_data['location']).codes

In [88]:
train_data

,transcription,action,object,location,lab_act,lab_obj,lab_loc
0,Turn on the kitchen lights,activate,lights,kitchen,0,7,1
1,Turn up the temperature,increase,heat,none,5,4,2
2,OK now switch the main language to Chinese,change language,Chinese,none,2,0,2
3,Turn down the bathroom temperature,decrease,heat,washroom,4,4,3
4,Change the language,change language,none,none,2,10,2
...,...,...,...,...,...,...,...
11561,Kitchen heat up,increase,heat,kitchen,5,4,1
11562,Turn the temperature up,increase,heat,none,5,4,2
11563,Bring shoes,bring,shoes,none,1,11,2
11564,Volume mute,decrease,volume,none,4,13,2
11565,Turn off the kitchen lights,deactivate,lights,kitchen,3,7,1

In [89]:
val_data

,transcription,action,object,location,lab_act,lab_obj,lab_loc
0,Turn on the lights,activate,lights,none,0,7,2
1,Turn off the lights,deactivate,lights,none,3,7,2
2,Change language,change language,none,none,2,10,2
3,Pause the music,deactivate,music,none,3,8,2
4,Resume,activate,music,none,0,8,2
...,...,...,...,...,...,...,...
3113,Lights on,activate,lights,none,0,7,2
3114,Switch off the lights,deactivate,lights,none,3,7,2
3115,Turn the lights off,deactivate,lights,none,3,7,2
3116,Lights off,deactivate,lights,none,3,7,2
3117,Volume up,increase,volume,none,5,13,2

Baseline Model

In [90]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
# from gensim.models import KeyedVectors

from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score
from sklearn.metrics import f1_score, roc_auc_score, confusion_matrix, roc_curve

In [97]:
field = 'transcription'
tfidf_vectorizer = TfidfVectorizer()
tfidf_vectorizer.fit(train_data[field].values)
# print(list(tfidf_vectorizer.get_feature_names_out()))
print(len(list(tfidf_vectorizer.get_feature_names_out())))
train_feature_set=tfidf_vectorizer.transform(train_data[field].values)
test_feature_set=tfidf_vectorizer.transform(val_data[field].values)

92

In [99]:
train_feature_set

<11566x92 sparse matrix of type '<class 'numpy.float64'>'
	with 47730 stored elements in Compressed Sparse Row format>

In [94]:
test_feature_set

<3118x92 sparse matrix of type '<class 'numpy.float64'>'
	with 12908 stored elements in Compressed Sparse Row format>

In [101]:
rf_model = RandomForestClassifier(n_estimators=200,
                                  criterion='entropy',
                                  max_depth=4,
                                  class_weight='balanced',
                                  random_state=0,
                                  verbose=0)

rf_model.fit(train_feature_set, train_data['lab_act'])

RandomForestClassifier(class_weight='balanced', criterion='entropy',
                       max_depth=4, n_estimators=200, random_state=0)

In [102]:
def get_predictions(model, X_test, is_prob=False):
  if is_prob:
    return model.predict_proba(X_test)[:,1]
  # get predicted labels
  preds = model.predict(X_test)
  return preds


def print_metrices(Y_test, Y_pred):
  # GET ACCURACY, PRECISION, RECALL, F1-SCORE
  print("ACCURACY: {}".format(round(accuracy_score(Y_test, Y_pred), 4)))

  print("ROC AUC SCORE: {}".format(round(roc_auc_score(Y_test, Y_pred), 4)))

  print("BULLISH PRECISION: {}".format(round(precision_score(Y_test, Y_pred), 4)))

  print("BULLISH RECALL: {}".format(round(recall_score(Y_test, Y_pred), 4)))

  print("BULLISH F1-SCORE: {}".format(round(f1_score(Y_test, Y_pred), 4)))

  inverse_y_test = np.where(Y_test==1, 0, 1)
  inverse_y_pred = np.where(Y_pred==1, 0, 1)
  print("BEARISH PRECISION: {}".format(round(precision_score(inverse_y_test, 
                                                             inverse_y_pred), 4)))

  print("BEARISH RECALL: {}".format(round(recall_score(inverse_y_test, inverse_y_pred), 4)))

  print("BEARISH F1-SCORE: {}".format(round(f1_score(inverse_y_test, inverse_y_pred), 4)))

  total_bullish = sum(confusion_matrix(Y_test, Y_pred)[1])
  total_bearish = sum(confusion_matrix(Y_test, Y_pred)[0])

  true_pred_bullish = confusion_matrix(Y_test, Y_pred)[1][1]
  true_pred_bearish = confusion_matrix(Y_test, Y_pred)[0][0]
  print("{} bullish samples are correctly predicted out of {}".format(true_pred_bullish,
                                                                      total_bullish))
  print("{} bearish samples are correctly predicted out of {}".format(true_pred_bearish,
                                                                      total_bearish))

In [107]:
# GET PREDICTIONS
ypred = rf_model.predict(test_feature_set)

In [118]:
i=0
print(ypred.tolist()[i:i+20])

[0, 3, 2, 5, 5, 4, 0, 0, 0, 3, 3, 3, 5, 5, 5, 5, 4, 4, 5, 5]

In [119]:
print(val_data['lab_act'].tolist()[i:i+20])

[0, 3, 2, 3, 0, 4, 0, 0, 0, 3, 3, 3, 5, 5, 5, 5, 4, 4, 4, 5]

In [122]:
val_data['pred_lab_act'] = rf_model.predict(test_feature_set)

In [125]:
val_data.head(20)

,transcription,action,object,location,lab_act,lab_obj,lab_loc,pred_lab_act
0,Turn on the lights,activate,lights,none,0,7,2,0
1,Turn off the lights,deactivate,lights,none,3,7,2,3
2,Change language,change language,none,none,2,10,2,2
3,Pause the music,deactivate,music,none,3,8,2,5
4,Resume,activate,music,none,0,8,2,5
5,Volume down,decrease,volume,none,4,13,2,4
6,Turn the lights on,activate,lights,none,0,7,2,0
7,Switch on the lights,activate,lights,none,0,7,2,0
8,Lights on,activate,lights,none,0,7,2,0
9,Switch off the lights,deactivate,lights,none,3,7,2,3
10,Turn the lights off,deactivate,lights,none,3,7,2,3
11,Lights off,deactivate,lights,none,3,7,2,3
12,Volume up,increase,volume,none,5,13,2,5
13,Turn up the volume,increase,volume,none,5,13,2,5
14,Turn the volume up,increase,volume,none,5,13,2,5
15,Make the music louder,increase,volume,none,5,13,2,5
16,Turn down the volume,decrease,volume,none,4,13,2,4
17,Turn the volume down,decrease,volume,none,4,13,2,4
18,Make the music softer,decrease,volume,none,4,13,2,5
19,Turn up the temperature,increase,heat,none,5,4,2,5